{#
About page
#}

{% extends 'pages/base.jinja' %}

{% block title %}About Flask{% endblock %}

{% block content %}

    <h1>About Flask</h1>

    <p>In graeco epicurei vis, et quo labore persecuti alienum neglegentur ei pri, id congue explicari est id splendide aliquando mei, ex duo tale laoreet, nam idque decore iracundia ex. Eum an essent quaestio, ut his error denique, constituto cotidieque vis te dicat vituperata eos ne, summo insolens ut vis. In graeco epicurei vis, et quo labore persecuti alienum neglegentur ei pri, id congue explicari est id splendide aliquando mei, ex duo tale laoreet, nam idque decore iracundia ex.</p>

{% endblock %}

