{#
Base page
Requires blocks for the page title and main content
Loads PicoCSS, along with app stylesheet
#}

<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Flask Test{% endblock %}</title>
    <link rel="icon" href="/static/images/flask.png">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><strong><a href="/">Testing</a></strong></li>
            </ul>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>

